<h1>Burgers I'd like to eat:</h1>
<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <li>{{burger_name}} <button id="button-devour" class="devour button" data-id="{{this.id}}">Devour me!</button></li>
  {{/unless}}
  {{/each}}
</ul>