<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat Da Burger</title>
		<link rel="stylesheet" href="/assets/styles.css" type="text/css" />
		
	</head>
	<body>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/scripts.js"></script>
	</body>
</html>

