body {
  background-color: palegoldenrod;
}

.burgers-wrapper { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.burger {
  display: flex;
  flex-basis: 40%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.burgers-to-eat {
  background: lightcoral;

}

.burgers-to-eat * {
  
}

.burgers-eaten {
  background: lightblue;
}

.button {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.button:hover {
	background-color:#0688fa;
}
.button:active {
	position:relative;
	top:1px;
}

#button-devour {
  margin-left: 20px;
}

.flex-center { 
  display: flex; 
  justify-content: center; 
}

h1 { 
  padding-left: 15px;
}

.image--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
}

input {
  font-size: 18px;
  height: 30px;
  width: 250px;
}

li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 30px 0px 0px;
}

.margin {
  margin: 10px;
}

.text--center {
  text-align: center;
}

.text {
  color: darkred;
}
